@model SchoolSystem.ViewModels.SchoolVm.StudentDepartmentVM.StudentDepartmentDeleteVM

<h1>Permanently Delete Existing Department</h1>

<form method="post" asp-action="Delete">
    <input asp-for="StudentDepartmentId" type="hidden" />

    <label asp-for="StudentDepartmentName">Department Name</label>
    <input asp-for="StudentDepartmentName" class="form-control" />

    <label asp-for="StudentDepartmentCode">Department Code</label>
    <input asp-for="StudentDepartmentCode" class="form-control" />

    <br />
    <button class="btn btn-danger btn-sm" type="submit">Delete</button>
    <a asp-action="Index" class="btn btn-secondary btn-sm">Cancel</a>
</form>